<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de livros</title>
</head>
<body>

  <div>
    <h2>Lista de livros</h2>
    <br>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
      <tr th:each="livro: ${listaLivros}">
        <td th:text="${livro.id}"></td>
        <td th:text="${livro.titulo}"></td>
        <td>Ver Detalhes</td>
      </tr>
      </tbody>
    </table>
  </div>

</body>
</html>